<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buy.fish.dao.TbPanelMapper">
    <resultMap id="BaseResultMap" type="com.buy.fish.dto.entity.TbPanel">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="position" jdbcType="INTEGER" property="position" />
        <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    </resultMap>
    <sql id="Base_Column_List">
    id, name, type, sort_order, position, limit_num, status, remark, created, updated
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap">
        select
        *
        from tb_panel

    </select>
</mapper>