<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buy.fish.dao.TbUserMapper">

    <resultMap type="com.buy.fish.dto.entity.TbUserPO" id="TbUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="headimg" column="headImg" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="credit" column="credit" jdbcType="INTEGER"/>
        <result property="information" column="information" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbUserMap">
        select
          id, name, headImg, number, email, gender, credit, information, pwd
        from freefish.tb_user
        where id = #{id}
    </select>

    <!--查询单个-通过电子邮件-->
    <select id="queryByEmail" resultMap="TbUserMap">
        select
          id, name, headImg, number, email, gender, credit, information, pwd
        from freefish.tb_user
        where email = #{email}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbUserMap">
        select
          id, name, headImg, number
        from freefish.tb_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbUserMap">
        select
          id, name, headImg, number
        from freefish.tb_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="headimg != null and headimg != ''">
                and headImg = #{headimg}
            </if>
            <if test="number != null and number != ''">
                and number = #{number}
            </if>
        </where>
    </select>

    <!--新增注册列数据-->
    <insert id="registerInsert" parameterType="com.buy.fish.dto.entity.TbUserPO" useGeneratedKeys="true" keyProperty="id">
        insert into freefish.tb_user(name, email, credit, pwd)
        values (#{name}, #{email}, #{credit}, #{pwd})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update freefish.tb_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="headimg != null and headimg != ''">
                headImg = #{headimg},
            </if>
            <if test="number != null and number != ''">
                number = #{number},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键修改名字-->
    <update id="updateName">
        update freefish.tb_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键修改头像-->
    <update id="updateHeadImg">
        update freefish.tb_user
        <set>
            <if test="Headimg != null and Headimg != ''">
                headimg = #{Headimg},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键修改签名-->
    <update id="updateInformation">
        update freefish.tb_user
        <set>
            <if test="information != null and information != ''">
                information = #{information},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键修改性别-->
    <update id="updateGender">
        update freefish.tb_user
        <set>
            gender = #{gender}
        </set>
        where id = #{id}
    </update>

    <!--通过主键修改密码-->
    <update id="updatePwd">
        update freefish.tb_user
        <set>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from freefish.tb_user where id = #{id}
    </delete>

</mapper>