<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buy.fish.dao.TbUserMapper">

    <resultMap type="com.buy.fish.dto.entity.TbUserPO" id="TbUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="headimg" column="headImg" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbUserMap">
        select
          id, name, headImg, number
        from freefish.tb_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbUserMap">
        select
          id, name, headImg, number
        from freefish.tb_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbUserMap">
        select
          id, name, headImg, number
        from freefish.tb_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="headimg != null and headimg != ''">
                and headImg = #{headimg}
            </if>
            <if test="number != null and number != ''">
                and number = #{number}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into freefish.tb_user(name, headImg, number)
        values (#{name}, #{headimg}, #{number})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update freefish.tb_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="headimg != null and headimg != ''">
                headImg = #{headimg},
            </if>
            <if test="number != null and number != ''">
                number = #{number},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from freefish.tb_user where id = #{id}
    </delete>

</mapper>